<%= image_tag("sub_title.jpg",id: "sub_title") %>
<div class="button">
    <ul>
        <li><a href="/homerooms/new">授業申し込み</a></li>
        <li><a href="/intros">このサイトについて</a></li>
        <li><a href="#"><s>Coming Soon</s></a></li>
        <!--<li><a href="/new_teacher">教師になりませんか？</a></li>-->
        <!--<li><a href="/survice">出張サービス</a></li>-->
    </ul>
</div>
<br><hr>
<dl id="result"></dl>
<script type="text/javascript">

</script>
