<h1>こんにちは、<%= @user_name %>さん</h1><br>
<h2>N.H.R.にようこそ</h2><br><br>
登録内容を確認します。<br>
・<%= @classes %>組
・メールアドレスは<%= @address %>
<br>
<h2>今後は質問などをいつでもこのアドレスに送っていただき結構です。<br>また、メールアドレスでなく他のSNSを利用したい場合はこのアドレスにSNSの種類と特定できる内容などを送信してください。</h2>